* {
    font-family: 'roboto', sans-serif;
}

.container {
    display: grid;
    grid-template: 1fr 4fr / 1fr 4fr;
    grid-template-areas: "sidebar header"
    "sidebar main";
}

.header {
    padding: 0.5rem;
    background-color: white;
    grid-area: header;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.header-top {
    display: flex;
    align-items: center;;
}

.header-top>form {
    flex-grow: 4;
    display: flex;
    justify-content: start;
    gap: 1rem;
}

.searchbar {
    height: 50%;
    width: 60%;
    border-radius: 1rem;
    border: 0;
    background-color: rgb(220, 220, 220);
}

.searchbutton {
    height: 50%;
}

.header-top>p {
    font-weight: bold;
    font-size: 10pt;
}

.header-bottom {
    display: flex;
    justify-content: end;
    align-items: center;
}

.greeting>h4, .greeting>h6 {
    margin: 0;
}

.button-container {
    margin-left: auto;
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: center;
}

.button-container>button {
    border-radius: 1rem;
    background-color: rgb(64, 147, 235);
    color: white;
    border: 0;
    padding: 0.5rem 1.5rem;
    font-weight: bold;
}

.sidebar {
    color: white;
    padding: 1rem;
    background-color: rgb(64, 147, 235);
    grid-area: sidebar;
    font-weight: bold;
}

.sidebar>ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
}

.titleicon {
    height: 2.5rem;
}

li>svg {
    fill: white;
    height: 1rem;
}

.logo {
    margin-top: 0;
    font-size: 18pt;
}

.main {
    padding: 1rem;
    background-color: rgb(220, 220, 220);
    grid-area: main;
    display: grid;
    grid-template: auto / 3fr 1fr;
    gap: 1rem;
}

.article>p, .rightsidebar>p {
    margin-top: 0.5rem;
    font-weight: bold;
    font-size: large;
}

.articlegrid {
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr;
    gap: 1rem;
}

.card {
    padding: 1rem;
    background-color: white;
    border-radius: 0.5rem;
    border-left: 0.5rem solid orange;
}

.cardtitle {
    font-weight: bold;
}

.cardmain {
    color: rgb(100, 100, 100)
}

.cardoptions {
    display: flex;
    justify-content: end;
    gap: 0.5rem;
}

.cardoptions>svg {
    height: 1.5rem;
    width: 1.5rem;
}

.announcements {
    padding: 1rem;
    background-color: white;
    border-radius: 0.5rem;

}